@font-face {
  font-family: "Circular Air Book";
  src: url("./Fonts/CircularAir-Book.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Circular Air Book";
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
